/* Estilos gerais */
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: left;
  background-color: #fff;
}

/* Cabeçalho */
header {
  height: 350px;
  position: relative;
  width: 100%;
  z-index: 9999;
  padding: 20px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('img/fundoloja.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .logo {
  display: flex;
  align-items: center;
  margin-right: 40px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

header .logo img {
  max-width: 150px; 
}

header .menu {
  display: flex;
  align-items: center;
}

header .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

header .menu ul li a {
  color: #fff; 
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}

header .menu ul li a:hover {
  color: #B500D2; 
}

.loja-titulo {
  position: absolute;
  bottom: 20px;
  left: 60px;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
}

.loja-titulo .lo {
  color: #ffffff;
}

.loja-titulo .ja {
  color: #B500D2;
}

/* Barra de pesquisa */
.search-container {
  background-color: #B500D3;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 5px 40px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  border: none;
  font-size: 16px;
  background-size: 20px;
  background-image: url('img/lupa.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
}

.search-icon {
  width: 20px;
  margin-right: 5px;
}

.search-container input[type="text"]::placeholder {
  color: #BEBEBE;
  font-size: 16px;
  text-transform: uppercase;
}

.clear-button {
  background-color: #B500D3;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 30px;
}

/* Navegação por categorias */
.category-nav {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 5px 20px;
  position: relative;
}

.category-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.category-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.category-nav li a {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: #BEBEBE;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
}

.category-nav li.active a {
  color: #B500D3;
  background-color: rgba(209, 0, 243, 0.41);
  border-bottom: 2px solid #D100F3;
}

.category-nav li:not(:last-child)::after {
  content: '|';
  margin-left: 20px;
  color: #ccc;
}

.category-nav .active-bar {
  position: absolute;
  bottom: 0;
  left: 3%;
  width: 65px;
  height: 2px;
  background-color: #B500D3;
  transition: all 0.3s ease;
  border: 1.5px solid #fff;
  border-radius: 20px;
}

.category-nav + hr {
  border: none;
  border-top: 1px solid #BEBEBE;
  margin: 0;
}

/* Grade de produtos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.product-card h3 {
  margin-top: 0;
  font-size: 18px;
}

.product-card .price {
  font-weight: bold;
  font-size: 16px;
}

.product-card::before {
  content: "";
  border: 1px solid #000;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}

/* Rodapé */
footer {
  padding: 50px;
  background: linear-gradient(to bottom, #323232 0%, #181818 100%);
  color: #fff;
}

footer .logo {
  margin-bottom: 50px;
  text-align: center;
}

footer .logo img {
  width: 100%;
  max-width: 300px;
}

footer .navegacao {
  display: flex;
  gap: 20px;
  justify-content: center;
}

footer .navegacao .col {
  flex: 1;
  text-align: center;
}

footer .navegacao .col.wide {
  flex: 2;
}

footer .navegacao .col > b {
  display: block;
  color: #D9D9D9;
  margin-bottom: 20px;
}

footer .navegacao .col ul {
  list-style: none;
  padding: 0;
}

footer .navegacao .col ul li a {
  color: #969696;
  text-decoration: none;
}

.dgrid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer .navegacao .col p,
footer .navegacao .col p a {
  color: #969696;
  line-height: 36px;
  text-decoration: none;
}

footer .footLink {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border-bottom: 4px solid #3A3A3A;
}

footer .footLink a {
  color: #3A3A3A;
  font-weight: bold;
}

footer .footLink a:hover {
  color: #E39600;
  font-size: 15px;
}

footer .sociais {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px;
}