@font-face {
    font-family: Inter;
    src: url("../fontes/Inter/static/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: 'Archivo Black';
    src: url("../fontes/Archivo_Black/ArchivoBlack-Regular.ttf");
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 0px;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}
* {
    text-decoration: none;
    list-style: none;
}

/* Css da Header: */
/* \/ \/ \/ \/ \/ \/ \/ \/ */
.menu-burguer {
    display: none;
}

.header-fixed {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 24;
}

.logo{
    position: relative;
    width: 100%;
    height: 100px;
    left: -60px;
    top: 4px;
    background: url("../assets/imgs/logo.png") no-repeat;
    background-size: 310px 100%;
    background-position: left center;
}
.lineH {
    height: 3px;
    background-color: #fff;
}

nav div p {
    font-family: Arial, Helvetica, sans-serif
}
.navH div p {
    font-size: 15px;
    font-weight: 550;
    color: #fff;
    margin: 0px !important;
    align-content: center;
    height: 100%;
} 

.navH div {
    justify-content: center;
    width: 80px;
    height: auto;
    text-align: center;
    z-index: 10;
    margin-top: -4px;
    border-top: 4px solid #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.navH div:hover{
    border-top: 4px solid #D100F3 !important;
    background-color: rgba(209,0,243,25%);
}
.navH {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: nowrap;
    height: 40px;
    width: 85vw;
    justify-content: end;
    border-top: 4px solid #fff;
    z-index: 9;
}
.navH .detail {
    width: 3px;
    height: 10px;
    background-color: #fff;
    position: relative;
    top: 16px;
    margin: 0px 5px 0px 5px;
}
.banner-header {
    background-image: url("../assets/imgs/bgHeader.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: center top;
    background-color: #0000009d;
    background-blend-mode: multiply;
    min-height: 750px;
    top: 0;
    position: relative;
}
.call-to-action-header {
    color: #fff;
    padding: 0px 0px 50px 85px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.call-to-action-header h1{
    font-family: 'Archivo Black' !important;
    font-size: 100px;
	color: #fff;
	-webkit-text-stroke: 2px #fff;
	font-weight: bold;
    height: 110px;
    margin: 0px !important;
    margin-bottom: 10px !important;
}
.call-to-action-header h1 b{
    color: transparent;
	-webkit-text-stroke: 4px #e251f8;
	text-shadow: none;
}
.call-to-action-header span{
    font-family: Inter;
    font-size: 20px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    padding: 2px 15px;
    margin-left: 5px !important;
}
.call-to-action-header h3, a {
    font-size: 20px;
    color: #fff;
}
.high-2 {
    color: #e251f8;
    font-family: 'Archivo Black' !important;
}
/* Fim do css da header */
main{
    font-family: Inter;
    padding: 50px 80px;
}
.eventosPrincipais{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.eventosPrincipais .boxLeft div{
    width: 360px;
    height: 330px;
    background-color: #D9D9D9;
    border-radius: 8px;
}
.eventosPrincipais .boxsRight div{
    width: 350px;
    height: 160px;
    background-color: #D9D9D9;
    border-radius: 8px;
}
.eventosPrincipais .boxsRight div:first-child{
    margin-bottom: 10px !important;
}
.title{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.title h2{
    width: 20%;
    color: #454545;
}
.title hr{
    width: 80%;
    border: 1px solid #454545;
}
section .eventos hr{
    margin: 50px 0px !important;
    border: 1.5px solid #CECECE;
}
.style{
    display: flex;
}
main img{
    width: 250px;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 8px;
}
.content{
    width: 100%;
    padding-left: 10px;
    cursor: pointer;
}
.content p{
    color: #000B31;
    font-size: 16px;
    font-weight: bold;
}
.content p:first-child{
    color: #000000 !important;
    font-size: 14px;
}

.content p:last-child{
    color: #454545 !important;
    font-size: 12px;
}
.description{
    display: none;
    padding: 0px 20px;
}
/* Todo footer CSS Abaixo */
/* \/ \/ \/ \/ \/ \/ \/ \/ */

/* Definição de areas do grid footer */
#footer-principal .footer {
    display: grid;
    grid-template-areas: 
    
    'logof blank blank blank blank'
    'logof cont cont ender poli'
    'logof cont cont tel paym'
    'logof cont cont tel paym'
    'ff ff ff ff ff'
    
    ;
    background-image: linear-gradient(180deg, #323232 1%, #181818 90%);
    color: #fff !important;
    height: auto;
    gap: 0px;
    vertical-align: bottom;
}
#footer-principal a, #footer-principal li {
    font-size: 13px;
    font-family: Inter;
    color: #ffffff66 !important;
}
#footer-principal .footer label {
    font-size: 11.5px;
    font-family: 'Archivo Black';
    color: #ffffffbd !important;
}
#footer-principal .logo-footer {
    grid-area: logof;
    width: 200px;
    height: auto;
    margin: 15px 0px 0px 10px;
}
#footer-principal img {
    width: 100%;
    height: auto;
}
#footer-principal .blank-space{
    grid-area: blank;
    width: 200px;
    height: 60px;
    margin: 15px;
    display: block;
}
#footer-principal .cont-f {
    grid-area: cont;
    width: auto;
    height: auto;
    min-width: 235px;
    display: grid;
    grid-template-areas:
        'lab lab'
        'a b'
    ;
    column-gap: 5px;
	padding-inline-start: 0 !important;
}
#footer-principal .cont-f label {
    grid-area: lab;
    padding-inline-start: 0 !important;
}
#footer-principal .cont-f a {
    grid-area: a;
	padding-inline-start: 0 !important;

}
#footer-principal .cont-f b {
    grid-area: b;
	padding-inline-start: 0 !important;

}


#footer-principal .endereco-f {
    grid-area: ender;
    padding-inline-start: 0 !important;
}
#footer-principal .poli-f {
    grid-area: poli;
    padding-inline-start: 0 !important;
}

#footer-principal .tel-f {
    grid-area: tel;
    padding-inline-start: 0 !important;
}
#footer-principal .paym-f {
    grid-area: paym;
    padding-inline-start: 0 !important;
}
#footer-principal .bottom-footer {
    grid-area: ff;
    padding-inline-start: 0 !important;
    margin-top: 60px;
}

#footer-principal .bottom-footer hr {
    border-color: rgba(255,255,255,.4);
    width: 85vw;
}

#footer-principal .ead {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-around;
    font-family: 'Archivo Black';
    font-weight: 800;
    color: #ffffff66;
}
#footer-principal .ead div p a {
    font-size: 12px !important;
    text-decoration: underline;
}
#footer-principal .icons-social {
    display: flex !important;
    flex-direction: row !important;
    flex-flow: row;
    justify-content: space-evenly;
    text-align: center;
    width: 30vw;
    transform: translateX(115%);
}

#footer-principal .authoral-rights {
    text-align: center;
    font-family: 'Archivo Black';
    font-weight: 800;
    color: #ffffff66;
    margin-bottom: 5px;
}
#footer-principal .authoral-rights p {
    font-size: 12px;
    text-decoration: underline;
}

#footer-principal .footer ul {
    margin: 10px;
}

/* /\ /\ /\ /\ /\ /\ /\ /\ */
/* Todo footer CSS Acima */
/*-----------------------------------------------*/

/* Css mobile */
@media only screen and (max-width: 809px) {
    .info-section span:nth-child(1)  {
        display: none !important;
    }
}

@media only screen and (max-width: 600px) {
    
    .call-to-action-header h3 {
        text-align: center;
        font-size: 13px !important;
        margin: 0 !important;
    }
    .call-to-action-header h3 a:nth-child(1) {
       background-color: #fff;
       font-family: 'Archivo Black' !important;
       mix-blend-mode: screen;
       color: #000;
       padding-left: 3px !important;
       padding-right: 3px !important;
       border-radius: 2px;
    }

    /* Footer css mobile completo */
    #footer-principal .footer {
        grid-template-areas: 
        'logof logof'
        'cont ender'
        'cont paym'
        'cont tel'
        'cont poli'
        'ff ff'
        !important
        ;
        gap: 5px;
    }
    #footer-principal .blank-space {
        display: none !important;
    }
    #footer-principal .cont-f {
        min-width: auto !important;
        display: block !important;
        padding-inline-start: 30px !important;

    }
    /* Fim footer css mobile completo */
}