body{
    font-family: system-ui;
    overflow-y: auto;
}

header{
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: flex;
}

header .exit{
    color: #A60000;
    display: flex;
    align-items: center;
}

header .exit:hover{
    color: #de0000;
}

header .return{
    color: #969696;
    display: flex;
    align-items: baseline;
    gap: 5px;
}

header .return:hover{
    color: #7b7b7b;
}

header .return b{
    transform: rotate(180deg);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1{
    color: #969696;
    text-transform: uppercase;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divColapse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divColapse p{
    padding: 0px 15px;
    font-weight: bold;
}

.conteudo-colapsado{
    display: none;
    width: 60%;
    min-width: 350px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.conteudo-colapsado section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 0px;
}

section .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 45px;
    background-color: #F9F9F9;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
    margin: 15px;
}

section .name{
    width: 70%;
    padding-left: 20px;
    text-transform: uppercase;
    color: #353535;
}

section .options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    min-width: 100px;
    font-size: 20px;
}

.options i{
    cursor: pointer;
}

.btnColapse{
    width: 60%;
    min-width: 350px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#btnColapse1{
    background: linear-gradient(to right, #232323, #434343);
}

#btnColapse2{
    background: linear-gradient(to right, #232323, #434343);
}

#btnColapse3{
    background: linear-gradient(to right, #232323, #434343);
}

hr{
    height: 2px;
    width: 55%;
    margin: 25px 0px;
    background-color: #E3E3E3;
    border: none;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer button{
    height: 35px;
    width: 135;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.btnHis{
    background: linear-gradient(to top, #121B3A, #1F3379);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnVis{
    background: linear-gradient(to top, #121B3A, #1F3379);
}

.btnVis:hover{
    background: linear-gradient(to top, #1a2855, #2d4fc8)
}

.btnVis b{
    font-size: 16px;
}