/*''''''''''''''''''''''''*/


/* Pré definições globais */

@property --ww {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vw;
}

:root {
    --w: tan(atan2(var(--ww), 1px))
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 10px;
    width: 100vw;
    max-width: 100vw;
}

th,
tr,
td {
    font-size: 9px;
    font-family: Inter;
}
p {
    font-size: 10px;
    font-family: Inter;
}

h1,
h2,
h3 {
    font-size: 16px;
    font-family: 'Archivo Black';
}

a {
    text-decoration: none;
    font-family: Inter;
}

h6,
h5 {
    font-size: 11px;
    font-family: 'Archivo Black';
}

* {
    max-width: 100vw;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}


/* Resto do css local */



@media only screen and (max-width: 500px) {

/* Header global */
    .banner-header {
        background-color: rgba(0, 0, 0, .6);
        background-image: url(../assets/imgs/bgHeader.jpeg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 0;
        background-blend-mode: darken;
        height: 28vh;
        position: relative;
    }

    .logo-header {
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: space-between;
        position: fixed;
        width: 100vw;
        z-index: 2;
    }

    .navbar {
        margin: 25px 10px 0 0 !important;
        z-index: 2;
    }

    .logo {
        width: 150px;
        height: auto;
    }

    .logo img {
        height: 100%;
        z-index: 2;
    }

    .logo-header span {
        position: absolute;
        display: block;
        max-width: calc(100vw - 80px);
        width: calc(100vw - 80px);
        height: 1px;
        bottom: 0;
        left: 30px;
        background-color: #fff;
        z-index: 2;
    }


    /* Fim da header global */


    /* CSS Local da home-page */

    .call-to-action-header {
        position: absolute;
        bottom: 0px;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: row;
        text-align: center;
        z-index: 1;
    }

    .call-to-action-header h3 {
        font-size: 15px;
        color: #fff;
    }

    .highlighted {
        background-color: #fff !important;
        mix-blend-mode: screen;
        color: #000;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 2px;
        text-align: center !important;
        justify-content: center;
        justify-items: center;
        align-items: center;
        font-family: 'Archivo Black';
    }

    .calendar-table {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .whatsapp-icon-onheader {
        position: absolute;
        bottom: -15px;
        right: 10px;
        background-color: hsl(120, 100%, 30%);
        border-radius: 100px;
        padding: 5px;
        z-index: 1;
    }


    /* Subheader */

    .parent-section-info {
        background-color: #181818;
        height: 42vh;
        text-align: center;
        background-image: url(../assets/imgs/detail_subheader.png);
        background-blend-mode: normal;
        background-size: 100% auto;
        background-position: 0 0;
    }

    .info-section {
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        position: relative;
    }

    .items-info p {
        color: #fff;
        opacity: 0;
        margin-top: 10px;
    }

    .icons-info:hover~.items-info p {
        opacity: 1 !important;
    }

    .text-items-info {
        color: #313131;
        margin-left: 1px;
        margin-right: 1px;
        max-width: 25vw;
    }

    .text-items-info span {
        width: 2px;
        height: 45px;
        display: block;
        background-color: #313131;
        position: absolute;
        top: 90px;
        transform: translateX(-2px);
    }
    .contact-header *{
        color: #313131 !important;
    }

    
}