/*''''''''''''''''''''''''*/


/* Pré definições globais */

@property --ww {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vw;
}

:root {
    --w: tan(atan2(var(--ww), 1px))
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 10px;
    width: 100vw;
    max-width: 100vw;
}

th,
tr,
td {
    font-size: 9px;
    font-family: Inter;
}
p {
    font-size: 10px;
    font-family: Inter;
}

h1,
h2,
h3 {
    font-size: 16px;
    font-family: 'Archivo Black';
}

a {
    text-decoration: none;
    font-family: Inter;
}

h6,
h5 {
    font-size: 11px;
    font-family: 'Archivo Black';
}

* {
    max-width: 100vw;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}


/* Resto do css local */